[Unit]
Description=Open vSwitch Database
After=syslog.target network-pre.target
Before=network.target network.service

[Service]
Type=simple

# Create uuid file
ExecStartPre=/bin/mkdir -p /etc/openvswitch
ExecStartPre=/bin/mkdir -p /var/lib/openvswitch
ExecStartPre=/bin/mkdir -p /run/openvswitch
ExecStartPre=/bin/sh -c "if test ! -e /etc/openvswitch/system-id.conf; then uuidgen > /etc/openvswitch/system-id.conf; fi"
ExecStartPre=-/usr/bin/rkt \
	--trust-keys-from-https \
	--insecure-options=image \
	run \
	--volume=etc-openvswitch,kind=host,source=/etc/openvswitch \
	--mount volume=etc-openvswitch,target=/etc/openvswitch \
	--volume run,kind=host,source=/run \
	--mount volume=run,target=/run \
	--volume var-lib-openvswitch,kind=host,source=/var/lib/openvswitch \
	--mount volume=var-lib-openvswitch,target=/var/lib/openvswitch \
	--volume etc-ssl-certs,kind=host,source=/etc/ssl/certs,readOnly=true \
	--mount volume=etc-ssl-certs,target=/etc/ssl/certs \
        --volume usr-share-certs,kind=host,source=/usr/share/ca-certificates,readOnly=true \
        --mount volume=usr-share-certs,target=/usr/share/ca-certificates \
	--stage1-from-dir=stage1-fly.aci \
	--hosts-entry host \
	quay.io/casey_callendrello/openshift-hyperkube-testing:v3.7.0-casey1 \
	--exec=/bin/ovsdb-tool \
	-- \
	create /var/lib/openvswitch/conf.db
ExecStart=/usr/bin/rkt \
	--trust-keys-from-https \
	--insecure-options=image \
	run \
	--volume=etc-openvswitch,kind=host,source=/etc/openvswitch \
	--mount volume=etc-openvswitch,target=/etc/openvswitch \
	--volume run,kind=host,source=/run \
	--mount volume=run,target=/run \
	--volume var-lib-openvswitch,kind=host,source=/var/lib/openvswitch \
	--mount volume=var-lib-openvswitch,target=/var/lib/openvswitch \
	--volume etc-ssl-certs,kind=host,source=/etc/ssl/certs,readOnly=true \
	--mount volume=etc-ssl-certs,target=/etc/ssl/certs \
        --volume usr-share-certs,kind=host,source=/usr/share/ca-certificates,readOnly=true \
        --mount volume=usr-share-certs,target=/usr/share/ca-certificates \
	--stage1-from-dir=stage1-fly.aci \
	--hosts-entry host \
	quay.io/casey_callendrello/openshift-hyperkube-testing:v3.7.0-casey1 \
	--working-dir=/var/lib/origin \
	--exec=/sbin/ovsdb-server \
	-- \
	/var/lib/openvswitch/conf.db --no-chdir --remote=punix:/run/openvswitch/db.sock  --private-key=db:Open_vSwitch,SSL,private_key --certificate=db:Open_vSwitch,SSL,certificate --bootstrap-ca-cert=db:Open_vSwitch,SSL,ca_cert --pidfile=/run/openvswitch/ovsdb-server.pid
